body {
  font-family: Helvetica;
  margin-top: 20px;
}

h1.header, h2.header, h3.header {
  font-weight: normal;
}

h1.header {
  font-size: 64px;
}

div.content {
	max-width:50%;
}

img.content{
	max-width:100%;
}

.box{
	padding: 5px;
	border: 1px solid #eee;
	height: 400px;
}

.links{
	overflow:scroll;
	height: 90%;
}

