body {
  font-family: Helvetica;
  margin-top: 20px;
}

h1.header, h2.header, h3.header {
  font-weight: normal;
}

h1.header {
  font-size: 64px;
}

div.content {
	max-width:50%;
}

img.content{
	max-width:100%;
}

.box{
	padding: 5px;
	border: 1px solid #eee;
	height: 400px;
}

.links{
	padding: 5px;
	overflow:scroll;
	height: 90%;
}

.ld-btn{
	width:10%;
}

.btn{
	width:50%;
}

.btn-danger { border-color: #FFFFFF; color:#FE2E2E; background-color: #FFFFFF;}
.btn-success { border-color:#FFFFFF; color: #04B404; background-color: #FFFFFF;}

.btn-danger:hover {background-color: #FA5858; }
.btn-success:hover {background-color: #04B404; }
